body {
  font-family: "roboto", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  /* height: 100vh; */
}

header {
  background-color: #1f2937;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 0 15% 5%;
}

footer {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  color: #e5e7eb;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

nav {
  padding: 15px 0 70px;
  display: flex;
  gap: 10px;
  color: #e5e7eb;
  font-size: 18px;
}

nav .logo {
  flex: 1;
  font-size: 24px;
  color: #f9faf8;
  font-weight: 900;
}

button {
  color: #e5e7eb;
  font-size: 18px;
  padding: 7px 30px;
  border-radius: 5px;
}

.head-container {
  display: flex;
  gap: 25px;
}

.signup {
  flex: 1;
}

.signup h1 {
  margin-top: 0px;
  font-size: 48px;
  padding-right: 100px;
}

.signup button {
  background-color: #3882f6;
  border: none;
}

.image-holder {
  flex: 1;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.random-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
  margin-bottom: 200px;
}

.random-info h1 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.random-info-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 3px solid #3882f6;
  /* width: 200px; */
  height: 150px;
  border-radius: 10px;
  flex-basis: 200px;
}

.card p {
  margin-top: 170px;
  text-align: center;
  font-size: 18px;
}

.quote-container {
  display: flex;
  background-color: #e5e7eb;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote {
  text-align: left;
  padding: 75px 200px;
  font-size: 36px;
  color: #303b4b;
}

.quote h5 {
  text-align: end;
  font-size: 16px;
  font-weight: 900;
}

.call-to-action-container {
  display: flex;
  margin: 60px 200px;
  justify-content: space-around;
  align-items: center;
  background-color: #3882f6;
  padding: 60px 50px;
  border-radius: 10px;
  gap: 50px;
}
.call-to-action-container-text {
  color: #e5e7eb;
}

.call-to-action-container-text h2,
p {
  margin: 0;
}

.call-to-action-container button {
  background-color: #3882f6;
  border: 2px solid #f9faf8;
}
